.outerBlock {
    transform-origin: top left;
    container-type: size;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: #121212;

    border-radius: 8px;
    width: var(--outer-w);
    height: var(--outer-h);
    transform: scale(var(--outer-scale, 1));
}

p {
    margin: 0;
    line-height: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;

    .recentPerf {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        color: rgb(93, 93, 93);
    }

    .customBorder {
        width: 100%;
        height: 1px;
        background-color: rgb(36, 36, 36);
    }

    .avgEloOfMatch {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;

        @container (max-width: 380px) {
            & {
                flex-direction: column;
                align-items: normal;
            }

            .dot {
                display: none;
            }
        }

        .dot {
            font-size: 14px;
            line-height: 20px;
            color: rgb(93, 93, 93);
        }

        .avgEloOfMatchFlex {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;

            .teamEloAvgLevel {
                width: 24px;
                height: 24px;
            }

            span {
                font-size: 14px;
                color: rgb(204, 204, 204);
            }
        }

        p {
            font-family: 'Play Regular', sans-serif;
            letter-spacing: 0.02em;
            font-size: 14px;
            line-height: 20px;
            color: rgb(167, 167, 167);
        }
    }
}

.avgSwing, .consistency, .addStat {
    p {
        font-family: 'Play Regular', sans-serif;
        letter-spacing: 0.02em;
        font-size: 14px;
        line-height: 20px;
        color: rgb(167, 167, 167);
    }
}

.mainStats {
    display: flex;
    gap: 12px;

    .cell {
        flex: 1;
        background: color-mix(in srgb, #f1f1f1 8%, transparent);
        border-radius: 12px;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @container (max-width: 720px) {
            &:nth-child(3) {
                display: none;
            }
        }

        @container (max-width: 420px) {
            &:nth-child(2) {
                display: none;
            }
        }
    }

    .rating {
        img {
            width: 44px;
            height: 44px;
        }
    }

    .swingValue {
        display: block;
        letter-spacing: 0.0025em;
        font-size: 16px;
        line-height: 24px;
        color: white;

        &[data-good="true"] {
            color: rgb(106, 222, 67);
        }

        &[data-negative="true"] {
            color: rgb(255, 39, 39);
        }
    }

    .consistencyValue {
        display: block;
        letter-spacing: 0.0025em;
        font-size: 16px;
        line-height: 24px;
        color: white;

        &[data-good="true"] {
            color: rgb(106, 222, 67);
        }

        &[data-negative="true"] {
            color: rgb(255, 39, 39);
        }
    }

    .sparkline {
        pointer-events: none;
        width: 62px;
        height: 40px;
        filter: drop-shadow(rgb(255, 255, 255) 0px 6px 6px);

        &[data-high="true"] {
            filter: drop-shadow(rgb(255, 115, 0) 0px 6px 6px);
        }

        &[data-good="true"] {
            filter: drop-shadow(rgb(106, 222, 67) 0px 6px 6px);
        }

        &[data-negative="true"] {
            filter: drop-shadow(rgb(255, 39, 39) 0px 6px 6px);
        }
    }

    .consistencyRing {
        color: white;

        &[data-good="true"] {
            color: rgb(106, 222, 67);
        }

        &[data-negative="true"] {
            color:rgb(255, 39, 39);
        }
    }
}

.chartContainer {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #242424;

    .chartContent {
        display: flex;
        flex-direction: row;
        gap: 8px;

        .chartElo {
            flex: 1 1 0%;
            min-width: 0;
            user-select: none;

            .tickIconWrapper {
                display: flex;
                align-items: center;
                height: 100%;
            }

            .skillIconWrapper {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 4px;

                .level {
                    width: 24px;
                    height: 24px;
                }
            }

            .skillBadge {
                font-family: 'Play Regular', sans-serif;
                letter-spacing: 0.02em;
                font-size: 12px;
                line-height: 16px;
                color: rgb(167, 167, 167);
            }
        }
    }

    .rightPanel {
        letter-spacing: 0.02em;
        font-size: 12px;
        line-height: 16px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        gap: 24px;

        background-color: color-mix(in srgb, #f1f1f1 5%, transparent);
        padding: 16px;
        border-radius: 4px;

        .eloBar {
            display: flex;
            flex: 1 1 0%;
            gap: 2px;
            justify-content: normal;
            align-items: normal;
            flex-direction: column;

            .eloIcons {
                display: flex;
                flex: 0 1 0%;
                gap: 8px;
                justify-content: space-between;
                align-items: center;

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            .progressBar {
                inline-size: 100%;
                display: flex;
                position: relative;
                gap: 4px;

                .progress {
                    block-size: 4px;
                    margin: 4px 0px;
                    border-radius: 4px;
                    position: relative;
                    inline-size: 100%;
                    background: rgba(255, 255, 255, 0.16);

                    &::before {
                        inset-block: 0px;
                        inset-inline-start: 0px;
                        inline-size: var(--outer-progress);
                        border-radius: 4px;
                        position: absolute;
                        content: "";
                        background: #f50;
                    }
                }
            }

            .elos {
                display: flex;
                flex: 0 1 0%;
                justify-content: space-between;
                align-items: center;

                span {
                    font-size: 12px;
                }
            }
        }

        .winLoseContent {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: color-mix(in srgb, #f1f1f1 5%, transparent);
            border-radius: 4px;
            gap: 12px;
            padding: 8px;
        }

        .winLoseBlock {
            display: flex;
            flex: 0 1 0%;
            justify-content: normal;
            align-items: center;
            gap: 8px;

            span {
                letter-spacing: 0.0025em;
                font-size: 16px;
                line-height: 24px;

                &.winText {
                    color: rgb(50, 211, 90);
                }

                &.loseText {
                    color: rgb(255, 0, 43);
                }
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                inline-size: 20px;
                block-size: 20px;
                border-radius: 4px;
                color: #060606;

                &.win {
                    background-color: #32d35a;
                }

                &.lose {
                    background-color: #ff002b;
                }
            }
        }
    }

    .eloWinStreakContent {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        justify-content: flex-end;
        align-items: normal;
        gap: 8px;

        span {
            font-family: 'Play Regular', sans-serif;
            letter-spacing: 0.02em;
            font-size: 14px;
            line-height: 20px;
            color: rgb(167, 167, 167);
        }

        p {
            letter-spacing: 0.02em;
            font-size: 14px;
            line-height: 20px;
        }

        .eloChange, .winStreak {
            display: flex;
            flex: 0 1 0%;
            gap: 8px;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.additionalStats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;

    .addStat {
        border-radius: 8px;
        border: 1px solid #242424;
        flex: 1 1 80px;
        min-width: 0;
        padding: 16px;
        gap: 0px;
    }

    span {
        letter-spacing: 0.0025em;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        color: white;
    }
}

.resizeHandle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.25vw;
    height: 1.25vw;
    border-radius: 3px;

    &[data-active="true"] {
        background: rgba(255, 220, 43, 0.35);
    }

    &:hover {
        background: rgba(255, 255, 255, 0.25);
    }
}

.scaleHandle {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.25vw;
    height: 1.25vw;
    border-radius: 3px;

    &[data-active="true"] {
        background: rgba(255, 220, 43, 0.35);
    }

    &:hover {
        background: rgba(255, 255, 255, 0.25);
    }
}